* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: #999999;
}

main {
  margin: 0 auto;
  width: 80%;
  background-color: bisque;
}

.content {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider__top {
  overflow: hidden;
  width: 100%;
}

.slider__top input[type='radio'] {
  display: none;
}

.slider__top-wrapper {
  width: 500%;
  display: flex;
}

.slide {
  width: 100%;
  min-height: 20rem;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide1 {
  background-image: url('./assets/slider-1.jpeg');
}

.slide2 {
  background-image: url('./assets/slider-2.jpeg');
}

.slide3 {
  background-image: url('./assets/slider-3.jpeg');
}

.slide4 {
  background-image: url('./assets/slider-4.jpeg');
}

.slider__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.slider__text-wrapper {
}

.slider__controls {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.slider__control-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 50%;
}

.slider__control-circle:hover,
.slider__control-circle:active {
  background-color: blue;
}
